@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
html {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}
body {
  margin: 0;
  background-color: white;
  min-height: 100%;
}
#root {
  white-space: pre-line;
}
main {
  margin: 0 auto 8px auto;
  max-width: 560px;
  text-align: center;
}
.info {
  animation: fadeInAnimation ease-out 1.5s;
  animation-iteration-count: 1;
  position: relative;
  z-index: 1;
  transition: color 300ms ease-out;
  margin-bottom: 18px;
  line-height: 32px;
  font-style: italic;
  font-size: 15px;
  letter-spacing: 1px;
}
.info span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info svg {
  transition: color 300ms ease-out;
  margin-right: 8px;
  height: 20px;
  width: 20px;
}
section {
  height: 540px;
}
.title-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 220px;
  margin: 0;
  text-align: center;
}
@media (max-width: 500px) {
  .title-stripe {
    height: 140px;
  }
}
.title-stripe h2,
.title-stripe span {
  background: white;
  padding: 0 45px;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .title-stripe h2,
  .title-stripe span {
    padding: 0 8px;
  }
}
.title-stripe:before {
  content: "";
  display: block;
  border-top: solid 12px #FFAC26;
  width: 100%;
  position: absolute;
  top: calc(calc((220px / 2) - calc(12px / 2)));
  z-index: 0;
}
@media (max-width: 500px) {
  .title-stripe:before {
    top: calc(calc((140px / 2) - calc(12px / 2)));
  }
}
.cross {
  position: absolute;
  display: inline-block;
  background-color: #4D4D4D;
  transition: background-color 300ms ease-out;
}
@media (max-width: 680px) {
  .cross {
    height: 115px;
    width: 16px;
    left: calc(calc(16px / -2) - 6px / 2);
  }
}
@media (min-width: 681px) {
  .cross {
    height: 150px;
    width: 20px;
    left: calc(calc(20px / -2) - 6px / 2);
  }
}
.cross:after {
  transition: background-color 300ms ease-out;
  background-color: #4D4D4D;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}
@media (max-width: 680px) {
  .cross:after {
    height: 16px;
    width: 80px;
    left: -32px;
    top: 30px;
  }
}
.circle,
.bigCircle {
  transition: background-color 300ms ease-out;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}
.circle {
  background-color: #FFFF78;
}
@media (max-width: 680px) {
  .circle {
    top: calc(36px / -2);
    left: calc(calc(36px / -2) - 6px / 2);
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 681px) {
  .circle {
    top: calc(44px / -2);
    left: calc(calc(44px / -2) - 6px / 2);
    width: 44px;
    height: 44px;
  }
}
.bigCircle {
  background-color: #FFAC26;
}
@media (max-width: 680px) {
  .bigCircle {
    top: calc(44px / -2);
    left: calc(calc(44px / -2) - 6px / 2);
    width: 44px;
    height: 44px;
  }
}
@media (min-width: 681px) {
  .bigCircle {
    top: calc(64px / -2);
    left: calc(calc(64px / -2) - 6px / 2);
    width: 64px;
    height: 64px;
  }
}
.fadeInAnimation {
  animation: fadeInAnimation ease-out 1.5s;
  animation-iteration-count: 1;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button {
  transition: all 300ms ease;
}
.info button {
  position: relative;
  height: 32px;
  width: 140px;
  cursor: pointer;
  background-color: #FFAC26;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.info button:hover {
  background-color: #FFCC7C;
}
label *,
label *:before,
label *:after {
  box-sizing: initial;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 48px;
  margin: 0 8px;
  padding: 0 12px;
  border-bottom: 2px solid #FFAC26;
  transition: border-bottom-color 0.3s ease;
}
@media (max-width: 500px) {
  label {
    justify-content: space-between;
    width: 90%;
    max-width: 340px;
  }
}
label.disabled {
  border-bottom-color: #CCC;
}
label span {
  margin-right: 16px;
}
label .switch {
  border: 2px solid #FFAC26;
  background-color: #FFAC26;
  position: relative;
  width: 56px;
  height: 28px;
  overflow: hidden;
  border-radius: 100px;
}
label .switch.disabled {
  border: 2px solid #CCC;
  background-color: #CCC;
}
label .switch.disabled .knobs:before {
  color: white;
}
label .switch .layer,
label .switch .knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease all;
}
label .switch .layer {
  width: 100%;
  background-color: #FFAC26;
  z-index: 1;
}
label .switch .knobs {
  z-index: 2;
}
label .switch .knobs:before {
  content: "ANO";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #4D4D4D;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  padding: 5px 1px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
label .switch .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
label .switch .checkbox:checked + .knobs:before {
  content: "NE";
  left: 30px;
  background-color: #FFAC26;
  color: white;
}
label .switch .checkbox:checked ~ .layer {
  background-color: white;
}
label .switch .checkbox:disabled + .knobs:before {
  background-color: #4D4D4D;
}
label .switch .checkbox:disabled ~ .layer {
  background-color: #CCC;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 220px;
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 24px;
  text-indent: 24px;
}
@media (max-width: 500px) {
  header h1 {
    height: 140px;
  }
}
header h1 h2,
header h1 span {
  background: white;
  padding: 0 45px;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  header h1 h2,
  header h1 span {
    padding: 0 8px;
  }
}
header h1:before {
  content: "";
  display: block;
  border-top: solid 12px #FFAC26;
  width: 100%;
  position: absolute;
  top: calc(calc((220px / 2) - calc(12px / 2)));
  z-index: 0;
}
@media (max-width: 500px) {
  header h1:before {
    top: calc(calc((140px / 2) - calc(12px / 2)));
  }
}
@media (max-width: 680px) {
  header h1 {
    letter-spacing: 20px;
    text-indent: 20px;
  }
  header h1 span {
    padding: 0 8px;
  }
}
@media (max-width: 500px) {
  header h1 {
    letter-spacing: 12px;
    text-indent: 12px;
    font-size: 32px;
  }
}
@media (max-width: 370px) {
  header h1 {
    letter-spacing: 8px;
    text-indent: 8px;
    padding: 0;
  }
}
nav {
  border-bottom: 4px solid #FFAC26;
}
nav div.links {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  padding: 0 8px;
}
@media (max-width: 500px) {
  nav div.links {
    flex-direction: column;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  nav div.links {
    max-width: 680px;
  }
}
@media (min-width: 701px) and (max-width: 1150px) {
  nav div.links {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1151px) {
  nav div.links {
    flex-wrap: nowrap;
  }
}
nav div.links a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  padding: 8px 16px;
  text-align: center;
  flex-basis: 216px;
  margin: 0 4px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  transition: 500ms all;
}
@media (max-width: 500px) {
  nav div.links a {
    flex-basis: initial;
    letter-spacing: 1px;
    min-width: 80%;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  nav div.links a {
    margin: 4px;
  }
  nav div.links a:first-child {
    flex-basis: 100%;
    margin: 4px 30%;
  }
}
@media (min-width: 701px) and (max-width: 1150px) {
  nav div.links a {
    flex-basis: 180px;
  }
}
nav div.links a:hover,
nav div.links a.active {
  border-left: 3px solid #FFAC26;
  border-right: 3px solid #FFAC26;
  margin-bottom: 6px;
}
@media (max-width: 500px) {
  nav div.links a:hover,
  nav div.links a.active {
    font-weight: 700;
    margin-bottom: 0;
  }
}
.title {
  position: relative;
  height: 220px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 100px !important;
}
@media (max-width: 500px) {
  .title {
    height: 140px;
  }
}
.title h2,
.title span {
  background: white;
  padding: 0 45px;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .title h2,
  .title span {
    padding: 0 8px;
  }
}
.title:before {
  content: "";
  display: block;
  border-top: solid 12px #FFAC26;
  width: 100%;
  position: absolute;
  top: calc(calc((220px / 2) - calc(12px / 2)));
  z-index: 0;
}
@media (max-width: 500px) {
  .title:before {
    top: calc(calc((140px / 2) - calc(12px / 2)));
  }
}
.title .adjective {
  font-weight: bold;
}
.title h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 0 34px;
}
@media (max-width: 500px) {
  .title h2 {
    letter-spacing: 1px;
    padding: 0 12px;
  }
}
.title:before {
  margin: auto;
  border-top: solid 4px #B2B2B2;
  top: calc(calc((100px / 2) - calc(4px / 4)));
}
@media (max-width: 680px) {
  .title:before {
    width: 90%;
    left: calc((100% - 90%) / 2);
  }
}
@media (min-width: 681px) {
  .title:before {
    width: 80%;
    left: calc((100% - 80%) / 2);
  }
}
.tools {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
@media (max-width: 500px) {
  .tools {
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
  }
}
.mysteries .prayer:first-child .left,
main > .prayer:first-child .left {
  align-self: flex-start;
}
main > .prayer:last-child,
.mysteries .prayer:last-child {
  padding-bottom: 0;
}
.prayer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid #B2B2B2;
  padding-bottom: 32px;
}
@media (max-width: 680px) {
  .prayer {
    margin-left: 42px;
    padding-bottom: 24px;
  }
}
.prayer .left,
.prayer .right {
  position: relative;
}
.prayer .right {
  width: 88%;
  padding-right: 12%;
}
@media (max-width: 680px) {
  .prayer .right {
    width: 92%;
    padding-right: 8px;
    padding-left: 20px;
  }
}
.prayer .right p {
  border-radius: 8px;
  cursor: default;
  margin: 0;
  padding: 8px;
  background-color: #FFCC7C;
  border: 2px solid #FFCC7C;
  transition: background-color 300ms ease-out, border-color 300ms ease-out, color 300ms ease-out;
}
.prayer .right p.ourFather,
.prayer .right p.hailHolyQueen {
  background-color: #FFAC26;
  border-color: #FFAC26;
}
.prayer .right p.hailMary {
  background-color: #FFFF78;
  border-color: #FFFF78;
}
.prayer .right p.gloryBe,
.prayer .right p.apostlesCreed,
.prayer .right p.signOfTheCross {
  background-color: #FFF9B4;
  border-color: #FFF9B4;
}
.prayer .right p:hover {
  background-color: white !important;
  border-color: #B2B2B2 !important;
  color: #CCC !important;
}
.prayer .right p.short {
  font-style: italic;
}
.prayer.grey .right p {
  background-color: white !important;
  border-color: #B2B2B2 !important;
  color: #CCC !important;
}
.prayer.grey .left span,
.prayer.grey .left span.cross,
.prayer.grey .left span.cross:after {
  background-color: #CCC;
}
.mysteries p {
  font-style: normal !important;
}
.mysteries .prayer:first-child p {
  border-color: #FFAC26;
  background-color: #FFAC26;
}
.mysteries .prayer:nth-child(2) p {
  border-color: #FFCC7C;
  background-color: #FFCC7C;
}
.mysteries .prayer:nth-child(3) p {
  border-color: #FFF9B4;
  background-color: #FFF9B4;
}
.mysteries .prayer:nth-child(4) p {
  border-color: #FFCC7C;
  background-color: #FFCC7C;
}
.mysteries .prayer:last-child p {
  border: #FFAC26;
  background-color: #FFAC26;
}
.greyBox {
  background-color: white !important;
  border-color: #B2B2B2 !important;
  color: #CCC !important;
}
