footer {
  text-align: center;
  font-size: 15px;

  p {
    margin: 24px 0 12px 0;

    &:last-child { margin-bottom: 24px }
  }

  a {
    color: @footer-link;
  }

  hr {
    max-width: @main-width;
    margin: 16px auto;
    border: none;
    border-top: 1px solid @grey-1;
  }
}