@header-height: 220px;
@header-stripe-width: 12px;
@title-height: 200px;
@title-stripe-width: 4px;

@chain-width: 6px;

@normal-circle-size: 44px;
@big-circle-size: 64px;

@grey-1: #BBB;
@grey-2: #4D4D4D;
@orange-1: #FFAC26;
@orange-2: #FFFF78;
@orange-3: #FFF9B4;
@orange-4: #FFCC7C;

@main-width: 560px;

html {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  //border: 1px solid black;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100%;
}

main {
  margin: -50px auto 0 auto;
  max-width: @main-width;
  text-align: center;
}

section {
  height: 540px;
}

h1 {
  font-size: 48px;
}

@import "mixin";
@import "header";
@import "navigation";
@import "title";
@import "prayer";