
body.light {
  @background: #FFFFFF;
  @grey-1: #B2B2B2;
  @grey-2: #4D4D4D;
  @grey-3: #CCC;
  @cross-normal: @grey-2;
  @cross-done: @grey-3;
  @orange-1: #FFAC26;
  @orange-2: #fff2c9;
  @orange-3: #ffd299;
  @orange-4: #ffd38c;
  @orange-5: #ffe493;
  @orange-6: #ffc76b;
  @font-color: #000;
  @main-color: #000;

  @import (multiple) "variables";
  @import (multiple) "mixin";
  @import (multiple) "general";
  @import (multiple) "button";
  @import (multiple) "header";
  @import (multiple) "navigation";
  @import (multiple) "title";
  @import (multiple) "info";
  @import (multiple) "tools";
  @import (multiple) "prayer";

  /* <body> */
  margin: 0;
  background-color: @background;
  transition: background-color @transition-dark-mode;
  -ms-transition: background-color @transition-dark-mode;
  -webkit-transition: background-color @transition-dark-mode;
}

body.dark {
  @background: #121212;
  @grey-1: darken(#B2B2B2, 20);
  @grey-2: #CCC;
  @grey-3: #4D4D4D;
  @cross-normal: #fff2c9;
  @cross-done: @grey-1;
  @orange-1: desaturate(#FFAC26, 30);
  @orange-2: desaturate(darken(#fff2c9, 20), 50);
  @orange-3: desaturate(darken(#ffd299, 20), 50);
  @orange-4: desaturate(darken(#ffd38c, 20), 50);
  @orange-5: desaturate(darken(#ffe493, 20), 50);
  @orange-6: desaturate(darken(#ffc76b, 20), 50);
  @font-color: rgba(255,255,255,0.87);
  @main-color: #000;

  @import (multiple) "variables";
  @import (multiple) "mixin";
  @import (multiple) "general";
  @import (multiple) "button";
  @import (multiple) "header";
  @import (multiple) "navigation";
  @import (multiple) "title";
  @import (multiple) "info";
  @import (multiple) "tools";
  @import (multiple) "prayer";

  /* <body> */
  margin: 0;
  background-color: @background;
  transition: background-color @transition-dark-mode;
  -ms-transition: background-color @transition-dark-mode;
  -webkit-transition: background-color @transition-dark-mode;
}

