html {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100%;
}

main {
  margin: auto;
  max-width: 1280px;
  text-align: center;
}

section {
  height: 540px;
}
